{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modifier les Opérations{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Modifier les Opérations{% endtrans %}</h1>

    {{ include('operations/_form.html.twig', {'button_label': 'Update'}) }}



    {{ include('operations/_delete_form.html.twig') }}
{% endblock %}
