{% extends 'base.html.twig' %}

{% block title %}Edit Operations{% endblock %}

{% block body %}
    <h1>Edit Operations</h1>

    {{ include('operations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_operations_index') }}">back to list</a>

    {{ include('operations/_delete_form.html.twig') }}
{% endblock %}
