{% extends 'base.html.twig' %}

{% block title %} Chiffre Affaires {% endblock %}


{% block body %}

<div class="example-wrapper" style="text-align: center; margin-top:30px">
    <h1 id = "chiffre_affaire"> Chiffre d'affaires  </h1>
</div>
    <div class="d-flex flex-row bd-highlight mb-3 mt-3 justify-content-around" >
<div style="
width: 400px;
">
    <h2 style="
text-align: center;">Chiffre d'affaire par catégories</h2>
    {{ render_chart(chart) }}
    <p
    style="text-align: center;"> Chiffre d'affaire total : {{ total }} euros</p>
</div>
    <div style="
width: 400px;
">
        <h2 style="
text-align: center;">Nombre d'opérations terminées : {{ nbOpTermine }}</h2>

    </div>
</div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}


{% endblock %}
