<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>

    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">

    <link rel="stylesheet" href="{{ asset('navbarStyle.css') }}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
   

    {% block stylesheets %}    {% endblock %}

</head>
<body>

{% include "shared/_navbarEssai.html.twig" %}


{% block body %}

{% endblock %}
    {% include "shared/_navbarEssaiEnd.html.twig" %}
{% include "shared/_scriptBootstrap.html.twig" %}

{# <script src="{{ asset('navbarScript.js') }}" #}
{% block javascripts %}{% endblock %}

</body>

</html>
