<form method="post" action="{{ path('app_users_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce collaborateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger mt-3">{% trans %}Supprimer le collaborateur{% endtrans %}</button>
</form>
