<form method="post" action="{{ path('app_clients_delete', {'id': client.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger">{% trans %} Supprimer {% endtrans %}</button>
</form>
