{{ form_start(form2) }}
    {{ form_widget(form2) }}
<div class="form-group">
    <label for="text" class="form-label mt-4 required">Adresse</label>
    <input onkeyup="affiche()" type="text" name="adresse" class="form-control" required="required"
           id="adresse">
    <div class="form-group" id="api"></div>
</div>
<div class="modal-footer">


</div>
<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form2) }}
