{% extends 'base.html.twig' %}

{% block title %}{% trans %} Modifier les clients{% endblock %}

{% block body %}
    <h1>{% trans %} Modifier les clients {% endtrans %} </h1>

    {{ include('clients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_clients_index') }}"> {% trans %} Retour à la liste {% endtrans %}</a>

    {{ include('clients/_delete_form.html.twig') }}
{% endblock %}
